@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --blue: #21212F;
    --blue-light: #262635;
    --red-gradient: linear-gradient(90deg, #D12846 0%, #A6122C 100%);
    --blue-gradient: linear-gradient(90deg, #289FD1 0%, #006691 100%);
    --muted: #c1c1c1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--blue);
}

h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}

p {
    color: #FFFFFF;
}

.btn {
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF !important;
    border: none !important;
}

.btn-red {
    background: var(--red-gradient);
}

.btn-blue {
    background: var(--blue-gradient);
}

.no-btn {
    border: 0;
    outline: none;
    background: none;
}

.form-control {
    padding: 12px 20px;
    border: 1px solid #DFDFE8;
    border-radius: 10px;
    background: none !important;
    color: #FFFFFF !important;
}

.navbar {
    background-color: var(--blue-light);
    padding: 20px 0;
}

.highlight {
    color: #289FD1 !important;
}

.text-muted {
    color: var(--muted) !important;
}

.pointer {
    cursor: pointer;
}

.wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -2;
}

.title {
    margin-bottom: 80px;
}

.section-1 {
    margin-top: 100px;
    margin-bottom: 80px;
    min-height: calc(100vh - 200px);
}

.link-card {
    overflow-wrap: break-word;
    height: 100%;
    padding: 24px;
    border: 1px solid #DFDFE8;
    border-radius: 10px;
}

@media screen and (max-width:767px) {
    h1 {
        font-size: 32px;
    }

    .title {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:575px) {
    h1 {
        font-size: 28px;
    }

    .title {
        margin-bottom: 50px;
    }

    .navbar-brand img {
        width: 120px;
    }
}

